extends layout

block content
    h2 Configure device
    div
        form(action='/devices/' + device._id + '/configure/', method="post")
            .row
                .col.pad
                    label Device Name
                    input(type="text", name="name" value=device.name)
                .col.pad
                    label Device Type
                    input(type="text", name="device_type" value=device.deviceType)
            .row
                .col.pad
                    label Room - Please reselect this
                    select(name="room_name")
                        option(value="room_A") Room A
                        option(value="room_B") Room B
                        option(value="room_C") Room C
                .col.pad
                    label Floor
                    input(type="number", name="floor", value=device.floor)
            .row
                .col.pad
                    label MQTT Topic
                    input(type="text", name="mqtt_topic", value=device.mqttTopic)
            input(type="submit", value="Submit", style="margin-left: 20px")
        button.delete(id=device._id, style="margin-left: 20px") Delete device